body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: white;
}

.text-black {
    color: rgba(0, 0, 0, 1) !important;
    font-weight: 700;
    border-bottom: 4px solid rgba(75, 168, 125, 1);
}

.text-black-btn button {
    font-size: 14px;
    font-weight: 700;
}

.button-green {
    background: rgba(75, 168, 125, 1) !important;
    border: none;
    font-size: 14px;
}

.navbar-brand .logo-right {
    width: 108px;
    min-width: 108px;
}

.navbar-brand .logo-left {
    width: 50px;
    min-width: 50px;
}

/* .owl-carousel{
    display: block !important;
} */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.owl-theme .owl-dots .owl-dot span {
    background: rgba(75, 168, 125, 1) !important;
    margin-top: 10px !important;
}

.owl-nav {
    display: none !important;
}

/* .hero-img {
    background: url(../images/hero-photo.png) no-repeat;
    background-size: 100%;
    margin-left: -101px;
    z-index: -10;
} */

.banner-heading-bg {
    background: url(../images/hero-photo.png) no-repeat;
    background-size: 100% 100%;
}

.banner-heading {
    font-weight: 800;
    font-size: 41px;
}

.hero-img-hide {
    display: none;
}

.middl-img-container {
    background: url(../images/video.png) no-repeat;
    background-size: 100% 100%;
}

.middle-text-container button, .modal-footer .save-btn {
    color: rgba(75, 168, 125, 1);
    font-weight: 700;
    background: white;
    border: none;
}

.middle-text-container button:hover, .modal-footer .save-btn {
    color: white;
    font-weight: 700;
    background: rgba(75, 168, 125, 1);
}

.banner-btns button {
    width: 129px;
    min-width: 129px;
}

.banner-left-btn {
    color: white;
    background: rgba(75, 168, 125, 1);
    border: 2px solid rgba(75, 168, 125, 1);
    font-weight: 700;
}

.banner-left-btn:hover {
    color: rgba(75, 168, 125, 1);
    background: white;
    border: 2px solid rgba(75, 168, 125, 1);
    font-weight: 700;
}

.banner-right-btn {
    color: rgba(75, 168, 125, 1);
    background: white;
    border: 2px solid rgba(75, 168, 125, 1);
    font-weight: 700;
}

.banner-right-btn:hover {
    color: white;
    background: rgba(75, 168, 125, 1);
    font-weight: 700;
    border: 2px solid rgba(75, 168, 125, 1);
}

.bg-section {
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100% 87%;
}

/* .the-source-img a {
    color: rgba(75, 168, 125, 1);
    font-weight: 700;
} */

.the-source-content {
    padding-top: 30px;
}

.three-img {
    position: relative;
}

.three-content {
    position: absolute;
    bottom: 26px;
    left: 0;
}

.three-col-imgs h3 {
    font-weight: 900;
}

.input {
    border: 1px solid rgba(159, 159, 159, 1);
    margin-bottom: 11px;
}

::placeholder {
    color: rgba(0, 0, 0, 1);
}

.spn small {
    color: rgba(75, 168, 125, 1);
    text-align: left;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 8px;
}

/* .hero-img-hide{
    display: none !important;
} */

.brand-imgs {
    width: 150px !important;
    min-width: 150px;
    text-align: -webkit-center;
}

.brand-2 {
    height: 28px !important;
    min-height: 28px !important;
}

.brand-item {
    text-align: -webkit-center;
}

.get-section {
    background: rgba(75, 168, 125, 1);
}

.get-section h1 {
    font-size: 50px;
}

.get-section button {
    color: rgba(75, 168, 125, 1);
    background: white;
    border: 2px solid white;
    font-weight: 700;
}

.get-section button:hover {
    color: white;
    background: rgba(75, 168, 125, 1);
    border: 2px solid white;
}

footer .footer-logo {
    width: 102px;
    min-width: 102px;
}

footer .footer-logo-1 {
    width: 80px;
    min-width: 80px;
}

.footer-box {
    border-bottom: 2px solid rgba(219, 219, 219, 1);
}

.footer-box a, .footer-box-2 a {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    padding-bottom: 4px;
}

@media (min-width:768px) {
    .navbar-brand .logo-right {
        width: 128px;
        min-width: 128px;
    }
    .navbar-brand .logo-left {
        width: 63px;
        min-width: 63px;
    }
    .text-black button {
        background: rgba(75, 168, 125, 1) !important;
        border: none;
    }
    .text-black {
        color: rgba(0, 0, 0, 1) !important;
        font-weight: 700;
        font-size: 14px;
        border-bottom: 4px solid rgba(75, 168, 125, 1);
    }
    .banner-section {
        background: url(../images/banner-bg.png) no-repeat;
        margin-top: 67px;
        background-size: 90%;
    }
    .banner-heading {
        font-weight: 800;
        font-size: 39px;
    }
    /* .hero-img {
        background: url(../images/hero-photo.png) no-repeat;
        background-size: 100%;
        margin-left: -50px;
        z-index: -10;
    } */
    .middl-img-container h1 {
        font-size: 44px;
    }
    .the-source-box-right {
        padding-top: 124px;
    }
    .the-source-content {
        padding-top: 192px;
    }
    .the-source-content h2 {
        font-size: 24px;
    }
    .the-source-content p {
        padding-right: 31px;
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
    }
    .hero-img {
        background: url(../images/hero-photo.png) no-repeat;
        background-size: 100%;
        margin-left: -60px;
        z-index: -10;
    }
    .banner-heading-bg {
        padding-bottom: 0px;
    }
    .banner-heading-bg {
        background: none;
    }
    .banner-btns button {
        width: 152px;
        min-width: 152px;
    }
    .hero-img-hide {
        visibility: hidden !important;
    }
    .the-source-img p {
        font-size: 13px;
    }
    .form-section h1 {
        font-size: 24px;
        font-weight: 900;
    }
    .brands-section h1 {
        font-size: 22px;
        font-weight: 900;
    }
    .brand-imgs {
        width: 112px !important;
        min-width: 112px;
        text-align: -webkit-center;
    }
    .spn {
        color: rgba(75, 168, 125, 1);
    }
}

@media (min-width:992px) {
    .text-black {
        color: rgba(0, 0, 0, 1) !important;
        font-weight: 700;
        font-size: 16px;
        border-bottom: 4px solid rgba(75, 168, 125, 1);
    }
    .hero-img {
        background: url(../images/hero-photo.png) no-repeat;
        background-size: 100%;
        margin-left: -80px;
        z-index: -10;
    }
    .banner-heading {
        font-weight: 800;
        font-size: 52px;
    }
    .banner-btns button {
        width: 182px;
        min-width: 182px;
    }
    .the-source-content p {
        line-height: 34px;
        padding-right: 31px;
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
    }
    .the-source-box-right {
        padding-top: 124px;
    }
    .the-source-content {
        padding-top: 192px;
    }
    .middl-img-container h1 {
        font-size: 50px;
    }
    .the-source-img p {
        font-size: 13px;
    }
    .the-source-content h2 {
        font-size: 40px;
    }
    .form-section h1 {
        font-size: 32px;
        font-weight: 900;
    }
    .brands-section h1 {
        font-size: 34px;
        font-weight: 900;
    }
    .the-source-img p {
        font-size: 15px;
    }
}

@media (max-width: 765px) {
    .hero-img {
        display: none;
    }
    .form-section h1 {
        font-weight: 700;
        font-size: 33px;
    }
    .brands-section h1 {
        font-weight: 800;
        font-size: 30px;
    }
    .footer-md {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-box-1 {
        width: 50%;
    }
    .brand-imgs {
        width: 121px !important;
        min-width: 121px;
        text-align: -webkit-center;
    }
    .banner-section {
        margin-top: 102px;
    }
}

/* .the-source-bg-box:hover, .three-col-img:hover {
    transform: translateY(0) scale(1.1);
} */

.modal-dialog {
    width: 66% !important;
    max-width: 66% !important;
}

button:focus {
    border: none;
    outline: none;
}

.learnmore {
    color: rgba(75, 168, 125, 1);
    font-family: lato, sans-serif;
    font-weight: 900;
    font-style: normal;
    position: relative;
}

.learnmore:hover:before {
    width: 100%;
    text-decoration: none;
    color: rgba(75, 168, 125, 1) !important;
}

.learnmore:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: rgba(75, 168, 125, 1);
    text-decoration: none;
    transition: all 0.2s ease-out;
}

a:hover {
    text-decoration: none;
    color: rgba(75, 168, 125, 1);
}

.hvr-wobble-top {
    display: block;
    /* vertical-align: middle; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.hvr-wobble-top:hover, .hvr-wobble-top:focus, .hvr-wobble-top:active {
    -webkit-animation-name: hvr-wobble-top;
    animation-name: hvr-wobble-top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes hvr-wobble-top {
    16.65% {
        -webkit-transform: skew( -12deg);
        transform: skew( -12deg);
    }
    33.3% {
        -webkit-transform: skew( 10deg);
        transform: skew( 10deg);
    }
    49.95% {
        -webkit-transform: skew( -6deg);
        transform: skew( -6deg);
    }
    66.6% {
        -webkit-transform: skew( 4deg);
        transform: skew( 4deg);
    }
    83.25% {
        -webkit-transform: skew( -2deg);
        transform: skew( -2deg);
    }
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

.hvr-wobble-skew {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
}

.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
    -webkit-animation-name: hvr-wobble-skew;
    animation-name: hvr-wobble-skew;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes hvr-wobble-skew {
    16.65% {
        -webkit-transform: skew( -12deg);
        transform: skew( -12deg);
    }
    33.3% {
        -webkit-transform: skew( 10deg);
        transform: skew( 10deg);
    }
    49.95% {
        -webkit-transform: skew( -6deg);
        transform: skew( -6deg);
    }
    66.6% {
        -webkit-transform: skew( 4deg);
        transform: skew( 4deg);
    }
    83.25% {
        -webkit-transform: skew( -2deg);
        transform: skew( -2deg);
    }
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
}

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.banner-left-btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.banner-left-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}
.hvr-radial-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.hvr-radial-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

