body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.pricing-banner {
    background: rgba(75, 168, 125, 3);
    margin-top: 92px;
}

.pricing-banner p {
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, .8);
}

.pricing-boxs {
    background: white;
    border-radius: 8px;
}

.pricing-3 {
    background-color: #fffdf2;
}

.pricing-boxs h3 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 800;
}

.primum {
    border-radius: 8px;
}

.pricing-boxs p {
    color: #606469;
    font-size: 14px;
    line-height: 24px;
}

.pricing-boxs h2 {
    font-weight: 800;
    font-size: 44px;
}

.sig-btn {
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    background: #272727;
}

.every {
    color: #606469;
}

.custom {
    color: #091e3f !important;
    font-size: 14px !important;
    font-weight: 900;
    text-align: left;
}

/* .padding-box{
    padding: 105px;
} */

.pricing-boxs {
    height: 682px;
    min-height: 682px;
}

.fa-check {
    color: rgba(75, 168, 125, 3);
}

.cell {
    border-left: 1px solid #d2d5d9;
}

.cell-section h4 {
    font-weight: 700;
}

.email-sms-section {
    background: #eeeceb;
}

.email-sms-section h1 {
    font-weight: 900;
}

.email-sms-section h6, .hid p {
    color: #606469;
    font-size: 18px;
}
.click, .click-2{
    border-bottom: 1px solid #d2d5d9;
}
.fa-plus{
    color: rgba(75, 168, 125, 3);
}
.hid h2{
    font-weight: 700;
    word-spacing: 3px;
}
.hid-btn{
    border-radius: 20px;
}
.bg-lit{
    background: #eeeceb;
}
.faq{
    font-weight: 800;
    font-size: 45px;
}
@media (min-width:992px) {
    .pricing-banner h1 {
        font-size: 62px;
        font-weight: 700;
    }
    .pricing-boxs {
        height: 682px;
        min-height: 682px;
    }
}

@media (min-width:768px) {
    .pricing-banner h1 {
        font-size: 52px;
        font-weight: 700;
    }
}

@media (max-width: 765px) {
    .pricing-banner h1 {
        font-weight: 700;
    }
}